@tailwind base;

@tailwind components;

.app-grid {
  grid-template:
    'navbar'
    'main'
    'footer';
  grid-template-rows: 3rem 1fr auto;
}

.navbar {
  grid-area: navbar;
}

main {
  grid-area: main;
  display: grid;
}

footer {
  grid-area: footer;
}

.btn {
  @apply rounded shadow-md flex justify-center items-center p-2;
}

.btn:hover {
  @apply shadow-lg;
}

.btn:focus {
  @apply shadow-none outline-none;
}

@tailwind utilities;

@responsive {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .grid {
    display: grid;
  }
}