@tailwind base;

@tailwind components;

.app-grid {
  grid-template:
    'navbar'
    'main';
  grid-template-rows: 3rem 1fr;
}

.navbar {
  grid-area: navbar;
}

main {
  grid-area: main;
  display: grid;
}

@tailwind utilities;

@responsive {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .grid {
    display: grid;
  }
}